.card {
    width: 300px;
    border: 1px solid #ff0000;
    display: flex; /* чтобы браузер красиво посчитал отступы */

}

.card__img{
    float: left;/* чтобы картинка была слева, а остальное - справа */
    border-radius: 50%;
}
.card__content{
    display: flex;
    flex-direction: column; /* чтобы строки снова выстроились друг под другом */
    justify-content: space-between;/* чтобы равномерно распредилились по высоте */
    margin-left: 10px;
}
/* Следующий стиль применяется только к div'ам внутри блока card__content */
.card__content div{
    width: 100%;
}